Repository iamarpitpatidar/dvins-conceptzion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: added OG meta
  .husky/pre-push
  environment.d.ts
  package.json
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/assets/fonts/Inter-SemiBold.ttf
  yarn.lock
Due: eslint --fix, prettier --write

chore: updated og:title and description
  src/app/layout.tsx
Due: eslint --fix, prettier --write

chore: added base Header to layout
  src/app/api/og/Inter-SemiBold.ttf
  src/app/api/og/route.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/assets/css/asymmetric.css
  src/assets/css/globals.css
  src/assets/css/theme.css
  src/assets/css/utility.css
  src/assets/images/logo.svg
  src/assets/vendors/liquid-icon/lqd-essentials/fonts/lqd-essentials.woff2
  src/assets/vendors/liquid-icon/lqd-essentials/lqd-essentials.min.css
  src/shared/Header.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: fix build issue
  src/app/api/og/route.tsx
Due: eslint --fix, prettier --write

chore: fix OG Image layout
  src/app/api/og/route.tsx
Due: eslint --fix, prettier --write

chore: added prisma
  README.md
  package.json
  prisma/migrations/20231025230604_settings/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  prisma/seeders/settings.seed.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: added base layout
  package.json
  prisma/seeders/settings.seed.ts
  public/assets/js/theme.js
  public/assets/js/theme.min.js
  public/assets/vendors/fastdom/fastdom.min.js
  public/assets/vendors/flickity/flickity.pkgd.min.js
  public/assets/vendors/gsap/minified/ScrollTrigger.min.js
  public/assets/vendors/gsap/minified/gsap.min.js
  public/assets/vendors/jquery.min.js
  public/assets/vendors/tinycolor-min.js
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/prisma.ts
  src/lib/utils/company.ts
  src/shared/Footer.tsx
  src/shared/Header.tsx
  src/shared/components/template.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: fixed og types
  .husky/pre-commit
  src/app/api/og/route.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: added seed to build script
  package.json
Due: prettier --write

feat: added missing libraries
  .gitignore
  assets/vendors/body-clip/liquidBodyClip.min.js
  assets/vendors/gsap/utils/CustomEase.min.js
  assets/vendors/lity/lity.min.js
  assets/vendors/matter/matter.min.js
  assets/vendors/particles.min.js
  assets/vendors/throwable/liquidThrowable.min.js
  index.html
Due: prettier --write

Create static.yml
  .github/workflows/static.yml
Due: none

Delete .idea directory
  .idea/.gitignore
  .idea/Dvins Conceptzion.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

minor changes
  assets/images/common/modal-bg.jpeg
  index.html
Due: prettier --write

updated mails
  assets/php/mailer.php
  index.html
Due: prettier --write

updated footer
  index.html
Due: prettier --write

contact section
  index.html
Due: prettier --write

contact section alignment
  index.html
Due: prettier --write

updated hero image
  assets/images/banner/blog-cover-1@2x.jpeg
  assets/images/banner/index.js
  assets/images/banner/living-room.webp
Due: prettier --write

updated hero
  .gitignore
  index.html
  package-lock.json
  package.json
Due: prettier --write

added hero images
  assets/images/banner/home.webp
  assets/images/banner/house.webp
  assets/images/banner/index.js
  assets/images/banner/office-interior.webp
  index.html
Due: prettier --write

updated header links
  about.html
  contact.html
  index.html
  projects.html
  review.html
Due: prettier --write

updated services section
  assets/images/banner/bg-1.jpg
  assets/images/banner/bg.jpg
  assets/images/banner/index.js
  assets/images/what-we-do/1.jpg
  assets/images/what-we-do/2.jpg
  assets/images/what-we-do/3.jpg
  assets/images/what-we-do/consult.webp
  assets/images/what-we-do/design-process.webp
  assets/images/what-we-do/design.webp
  assets/images/what-we-do/index.js
  index.html
Due: prettier --write

updated how we work
  index.html
Due: prettier --write

updated our vision
  assets/images/shape/Img-1.png
  assets/images/shape/Img-2.png
  assets/images/shape/index.js
  assets/images/shape/sphere-1.png
  assets/images/shape/sphere-3.png
  assets/images/what-we-do/index.js
  index.html
Due: prettier --write

updated vision image
  index.html
Due: prettier --write

added services page
  assets/images/shape/index.js
  assets/images/what-we-do/design-process.webp
  assets/images/what-we-do/index.js
  index.html
  services.html
Due: prettier --write

updated section-flow images
  assets/images/section-flow/Img-1.jpg
  assets/images/section-flow/Img.jpg
  assets/images/section-flow/acc-img-1.jpg
  assets/images/section-flow/hotel.webp
  assets/images/section-flow/index.js
  assets/images/section-flow/living-room.webp
  assets/images/section-flow/modern-kitchen.webp
  assets/images/what-we-do/index.js
  index.html
Due: prettier --write

updated section-flow content
  index.html
Due: prettier --write

added FAQs to contact page
  contact.html
  index.html
  not-found.html
Due: prettier --write

updated links
  contact.html
  index.html
Due: prettier --write

fixed links color
  index.html
Due: prettier --write

Update static.yml
  .github/workflows/static.yml
Due: none

added pug watcher
  package.json
Due: prettier --write

added basic template
  .pugrc
  index.html
  package.json
  src/assets/images/common/og-image.svg
  src/includes/cursor.pug
  src/includes/footer.pug
  src/includes/head.pug
  src/includes/header.pug
  src/includes/modals/contact-modal.pug
  src/includes/scripts.pug
  src/index.pug
  src/layout.pug
Due: prettier --write

updated base template
  .parcelrc
  damn.pug
  foo.pug
  package.json
  src/layout.pug
  yarn.lock
Due: prettier --write

added meta contnent
  .pugrc
  README.md
  package.json
  src/includes/head.pug
Due: prettier --write

added locals to manage centralised
  .pugrc
  src/includes/footer.pug
  src/includes/header.pug
  src/includes/modals/contact-modal.pug
Due: none
